%h1== #{@user.name}'s profile

%p== Our developers are working hard so that you&#039;ll be able to view and edit your profile very soon. In the meantime, one of the things you can do is start creating #{link_to 'places', places_path} (you&#039;ll need to be logged in).
